---
import CoderIcon from './logos/CoderIcon.astro'
---

<section class='container mx-auto w-4/6 mt-20 flex gap-3'>
	<article class='flex mt-10 gap-5 flex-col w-[60%]'>
		<h1 class='text-white'>Hi! I'm Tomas</h1>
		<h2 class='text-softGreen'>
			Fullstack developer 💻 <br /> Based in Mar del Plata, Argentina.
		</h2>
		<div class='text-lg tracking-wide font-light text-white'>
			<p class='text-xl'>Cat lover 😺 and music enthusiast</p>
		</div>
	</article>

	<CoderIcon />
</section>
