---
import CoderIcon from './logos/CoderIcon.astro'
---

<section class='container mx-auto w-4/6 mt-20 flex gap-3'>
	<article class='flex flex-col mt-10 gap-3 w-[60%]'>
		<h1>Hi!👋 My name is Tomás</h1>
		<h2>I'm a fullstack developer 💻 <br> Based in Mar del Plata, Argentina.</h2>
		<div class='text-lg tracking-wide font-light'>
			<p>
				Lorem ipsum, dolor sit amet consectetur adipisicing elit. Tempore placeat inventore
				sapiente. Quisquam eos vero quas sequi excepturi sit, aspernatur numquam id aliquid quidem
				consectetur error soluta! Facilis, ducimus ipsam.
				<!-- In 2020 I discovered a whole new world and since then I've been
                learning and having fun as a developer. -->
			</p>
			<br />
			<p>Cat lover 😺 and music enthusiast</p>
		</div>
	</article>
	<CoderIcon />
</section>
