---
import CoderIcon from "./logos/CoderIcon.astro";
---

<section class="container mx-auto w-4/6 mt-12 flex gap-3">
    <article class="flex justify-center flex-col gap-3">
        <h2>Hi! I'm Tom 👋</h2>
        <p class="text-primary">Fullstack developer 💻 based in Mar del Plata, Argentina.</p>
        <p>
            In 2020 I discovered a hole new world and since then i have been
            learning and having fun as a developer.
        </p>
        <p class="text-content-orange-100">Cat lover 😺 and music enthusiast</p>
    </article>
    <CoderIcon />
</section>
