---
import CoderIcon from "./logos/CoderIcon.astro";
---

<section class="container mx-auto w-4/6 mt-20 flex gap-3">
    <article class="flex flex-col mt-10 gap-3">
        <h2 class="text-4xl">Hi!👋 my name is Tomás</h2>
        <p class="text-xl">
            I'm a fullstack developer 💻 based in Mar del Plata, Argentina.
        </p>
        <p>
            In 2020 I discovered a hole new world and since then I've been
            learning and having fun as a developer.
        </p>
        <p class="text-content-orange-100">Cat lover 😺 and music enthusiast</p>
    </article>
    <CoderIcon />
    
</section>
