---
import CoderIcon from './logos/CoderIcon.astro'
---

<section
	class='container flex pt-40 items-center mx-auto flex-col justify-center gap-6 text-center w-11/12 md:text-left md:w-3/4 md:flex-row lg:w-2/3 md:justify-evenly'
>
	<article class='flex gap-5 flex-col'>
		<h1 class='text-white'>Hi! I'm Tomas</h1>
		<h2 class='text-softGreen'>
			Fullstack developer💻
			<br /> Based in Mar del Plata, Argentina.
		</h2>
		<div class='text-lg tracking-wide font-light text-softGreen'>
			<p class='text-xl'>Cat lover 😺 and music enthusiast</p>
		</div>
	</article>
	<CoderIcon />
</section>
