---
import ContactLogo from './logos/ContactLogo.astro'
import Github from './logos/Github.astro'
import HomeLogo from './logos/HomeLogo.astro'
import Linkedin from './logos/Linkedin.astro'
import ProjectsLogo from './logos/ProjectsLogo.astro'
import SkillsLogo from './logos/SkillsLogo.astro'
---

<nav
	class='bg-navBar fixed opacity-90 z-10 w-full lg:h-full lg:w-auto left-0 flex lg:flex-col lg:justify-evenly animate-blink'
>
	<div
		class='flex w-full justify-evenly h-16 sm:justify-center sm:gap-14 lg:items-center lg:flex-col lg:gap-8 lg:h-4/5'
	>
		<HomeLogo />
		<SkillsLogo />
		<ProjectsLogo />
		<ContactLogo />
	</div>
	<div class='flex justify-center items-center mx-4 gap-3 lg:flex-row'>
		<Github />
		<Linkedin />
	</div>
</nav>
