---
import Github from "./logos/Github.astro";
import Linkedin from "./logos/Linkedin.astro";
import Logo from "./logos/Logo.astro";
---

<div class="bg-darkBlue h-20 font-varela">
    <div class="h-full w-4/6 mx-auto flex justify-between items-center gap-10 sm:flex">
        <Logo />
        <ul class="md:flex sm:flex gap-10 font-medium text-lg">
            <li class="hover:text-hoverGreen hover:scale-125 transition duration-300">
                <a href="">About</a>
            </li>
            <li class="hover:text-hoverGreen hover:scale-125 transition duration-300" >
                <a href="">Projects</a>
            </li>
            <li class="hover:text-hoverGreen hover:scale-125 transition duration-300" >
                <a href="">Contact</a>
            </li>
        </ul>
        <ul class="flex gap-4">
            <Github />
            <Linkedin />
        </ul>
    </div>
</div>
