---
import AboutLogo from './logos/AboutLogo.astro'
import ContactLogo from './logos/ContactLogo.astro'
import HomeLogo from './logos/HomeLogo.astro'
import ProjectsLogo from './logos/ProjectsLogo.astro'
---

<nav
	class='bg-darkBlue opacity-90 z-10 h-20 fixed rounded-2xl left-1/2 transform translate-x-[-50%] flex items-center gap-4 px-8 my-8'
>
	<HomeLogo />
	<AboutLogo />
	<ProjectsLogo />
	<ContactLogo />
</nav>
