---
import AboutLogo from './logos/AboutLogo.astro'
import ContactLogo from './logos/ContactLogo.astro'
import Github from './logos/Github.astro'
import HomeLogo from './logos/HomeLogo.astro'
import Linkedin from './logos/Linkedin.astro'
import ProjectsLogo from './logos/ProjectsLogo.astro'
---

<nav
	class='bg-navBar backdrop-blur-lg fixed opacity-90 z-10 w-full h-20 lg:min-h-screen lg:h-full lg:w-auto lg:absolute left-0 flex lg:flex-col lg:justify-evenly'
>
	<div class='flex w-full justify-evenly sm:justify-center sm:gap-14 lg:flex-col lg:gap-8 lg:h-4/5'>
		<HomeLogo />
		<AboutLogo />
		<ProjectsLogo />
		<ContactLogo />
	</div>
	<div class='flex justify-center items-center mx-4 flex-col gap-3 lg:flex-row'>
		<Github />
		<Linkedin />
	</div>
</nav>
