---
import contactLogo from '../../../assets/contact.png'
---

<a href='' class='flex gap-2 items-center lg:px-10'>
	<div class='hover:scale-125 transition duration-300'>
		<img src={contactLogo} alt='contact' class='h-navIcon w-navIcon hover:animate-wobble' />
		<!-- <h2>Contact</h2> -->
	</div>
</a>
