---
import contactLogo from '../../../assets/contact.png'
---

<a href='#contact' aria-label='Contact' class='flex gap-2 items-center w-navIcon'>
	<div class='hover:scale-125 transition duration-300'>
		<img
			src={contactLogo}
			alt='contact'
			class='h-navIcon w-navIcon hover:animate-wobble'
		/>
	</div>
</a>
