---
import compassLogo from '../../../assets/compass.png'
---

<a href='' class='flex gap-2 items-center lg:px-10'>
	<div class='hover:scale-125 transition duration-300'>
		<img src={compassLogo} alt='compass' class='h-navIcon w-navIcon hover:animate-compass' />
	</div>
	<!-- <h2>Home</h2> -->
</a>
