---
import compassLogo from '../../../assets/compass.png'
---

<a href='#about' aria-label='Home' class='flex gap-2 items-center w-navIcon'>
	<div class='hover:scale-125 transition duration-300'>
		<img
			src={compassLogo}
			alt='compass'
			class='h-navIcon w-navIcon m-0 hover:animate-compass'
		/>
	</div>
</a>
