---
import skillsLogo from '../../../assets/skills1.png'
---

<a href='#skills' aria-label='Skills' class='flex gap-2 items-center w-navIcon'>
	<div class='hover:scale-125 transition duration-300'>
		<img
			src={skillsLogo}
			alt='contact'
			class='h-navIcon w-navIcon hover:animate-wobble'
		/>
	</div>
</a>
