/* Base Font */
@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&family=Overpass:wght@300&family=Varela+Round&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	html,
	body {
		@apply relative min-h-screen w-full animate-stars scroll-smooth bg-slate-900 bg-stars text-white;
	}
	h1,
	h2,
	h3 {
		@apply font-varela;
	}
	h1 {
		@apply text-6xl;
	}
	h2 {
		@apply text-3xl;
	}
}

@layer components {
}

@layer utilities {
	.center {
		@apply grid place-content-center;
	}
	.glowText::before {
		content: attr(data-text);
		position: absolute;
		color: #34a958;
		height: 0;
		overflow: hidden;
		transition: all;
		transition-duration: 1s;
		-webkit-text-stroke: 1px #34a958;
	}
	.glowText:hover::before {
		height: 4rem;
		filter: drop-shadow(0 0 25px #34a958);
	}
}
