/* Base Font */
@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&family=Overpass:wght@300&family=Varela+Round&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	html,
	body {
		@apply relative min-h-screen w-full animate-stars scroll-smooth bg-slate-900 bg-stars text-white;
	}
	li {
		@apply absolute list-none;
	}
	h1,
	h2 {
		@apply font-varela;
	}
	h1 {
		@apply text-6xl;
	}
	h2 {
		@apply text-3xl;
	}
}

@layer components {
	.glowText::before {
		content: attr(data-text);
		position: absolute;
		color: #34a958;
		height: 0;
		overflow: hidden;
		transition: all;
		transition-duration: 1s;
		-webkit-text-stroke: 1px #34a958;
	}
	.glowText:hover::before {
		height: 4rem;
		filter: drop-shadow(0 0 25px #34a958);
		height: 4rem;
	}

	.center {
		@apply grid place-content-center;
	}
	.ring-center {
		@apply z-10 grid h-20 w-20 place-items-center rounded-full bg-navBar shadow-sm shadow-slate-100;
	}

	.sun {
		box-shadow: 0 0 120px #f1da36, 0 0 60px #f2ad00, 0 0 10px #c96800, 0 0 200px #feff8f;
		background: radial-gradient(center, #fcf3a1 0%, #f1da36 100%);
		background: -webkit-radial-gradient(center, ellipse cover, #fcf3a1 0%, #f1da36 100%);
		@apply z-10 grid h-20 w-20 animate-fadeIn place-items-center rounded-full transition-all duration-500 ease-in-out;
	}
	.orbit-icon {
		@apply absolute inline h-8 w-8 animate-orbitSpinLeft;
	}
	li > img {
		transition: all 300ms ease-in-out;
		transition-delay: 1s;
	}
	.sun:hover ~ .orbit-ring > img {
		opacity: 0;
		transition-delay: 0s;
	}

	.orbitWrap {
		@apply h-[40rem];
	}

	.orbit-ring {
		transition: height 300ms ease-in-out, width 1s ease-in-out;
		transition-delay: 300ms, 500ms;
		@apply rounded-[50%] ring peer-hover:h-0 peer-hover:w-0;
		/* TODO -> Hacer un solo @apply cuando termines de acomodar iconos */
		@apply animate-orbitSpinRight;
	}
}

@layer utilities {
	.center {
		@apply grid place-content-center;
	}
}
